$body-bg: #F7F8FA;
$bg-header: #FAF9FC;
$font-size-base: 0.875rem;
$body-color: #333333;
$transition-collapse: height .75s ease;
$modal-md: 550px;
$btn-padding-x: 1rem;
$form-select-indicator: url("data:image/svg+xml,%3Csvg width='8' height='4' viewBox='0 0 8 4' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.83534 0H1.25C0.798645 0 0.578328 0.550789 0.905172 0.862068L3.83748 3.65474C4.03762 3.84535 4.35444 3.83743 4.54481 3.63705L7.19784 0.844375C7.50041 0.525883 7.27464 0 6.83534 0Z' fill='%23333333'/%3E%3C/svg%3E%0A");
$form-select-bg-size: 12px 6px;
$input-focus-box-shadow: none;
$btn-focus-box-shadow: none;

$theme-colors: ("primary": #0d6efd,
        "secondary": #6c757d,
        "success": #198754,
        "info": #0dcaf0,
        "warning": #ffc107,
        "danger": #dc3545,
        "light": #f8f9fa,
        "dark": #212529,
        "p-white": #ffffff,
        "p-red":#eb5757,
        "p-red-trans": #f750503d,
        "p-red-2":#f7bcbc,
        "p-red-3":#fbdddd,
        "p-red-5": #FF6F31,
        "p-red-6": #F37B7B,
        "p-red-7" : #FF1616,
        "p-red-8": #E8344C,
        "p-red-9": #F75050,
        "p-black":#333333,
        "p-black-2":#555555,
        "p-black-3":#616161,
        "p-black-4": #3A3A3A,
        "p-black-5": #424242,
        "p-black-6": #1A1F36,
        "p-yellow":#F2C94C,
        "p-yellow-2":#fcf4db,
        "p-yellow-3":#fae9b7,
        "p-yellow-4":#FFF8DF,
        "p-yellow-5":#FFC900,
        "p-yellow-6":#FFF4D1,
        "p-yellow-7": #FFCF02,
        "p-yellow-8": #FDEC7F,
        "p-teal":#439696,
        "p-teal-2":#54BBBB,
        "p-teal-3":#64DFDF,
        "p-teal-4": #A1CBCB,
        "p-teal-5": #d4e3e3,
        "p-grey-1":#eaeaea,
        "p-grey-2":#f1efec,
        "p-grey-3":#f5f5f3,
        "p-grey-4":#828282,
        "p-grey-5":#FBF9F3,
        "p-grey-6":#F2F2F2,
        "p-grey-7":#E7E5E0,
        "p-grey-8":#BDBDBD,
        "p-grey-9":#F0EEF3,
        "p-grey-10":#FBF9F3,
        "p-grey-11":#E6E6E6,
        "p-grey-12":#E0E0E0,
        "p-grey-13":#efefef,
        "p-grey-14":#FAF8F2,
        "p-grey-15":#C4C4C4,
        "p-grey-16":#bebebe,
        "p-grey-17":#4F4F4F,
        "p-grey-18":#C9C9C9,
        "p-grey-19":#d6d6d6,
        "p-grey-20":#eaeaea,
        "p-grey-21":#d6d6d6,
        "p-grey-22":#F7F7F7,
        "p-grey-23":#f9fbfd,
        "p-grey-24":#606060,
        "p-grey-25":#EBEBEB,
        "p-grey-26":#F9F9F9,
        "p-grey-27":#A6A6A6,
        "p-grey-28":#FBFAFF,
        "p-grey-29":#777777,
        "p-grey-30":#555555,
        "p-grey-31":#727272,
        "p-grey-32":#F0F5FA,
        "p-grey-33":#6C6C6C,
        "p-grey-34":#FAFAFA,
        "p-grey-35":#F8F8F8,
        "p-grey-36":#BAC3CB,
        "p-grey-37":#F0F0F0,
        "p-grey-38":#9B9B9B,
        "p-grey-39": #CED4DA,
        "p-grey-40": #FBFBFB,
        "p-grey-41": #AAAAAA,
        "p-grey-42": #E9E9E9,
        "p-grey-43": #D9D9D9,
        "p-grey-44": #F5F5F5,
        "p-grey-45": #F4F4F4,
        "p-grey-46": #aaaaaa,
        "p-grey-47": #F2F2F233,
        'p-grey-48': #E6EBF2,
        'p-grey-49': #A3B6CC,
        "p-grey-50": #919191,
        "p-grey-51": #9EA3AD,
        "p-grey-52": #A5ACB8,
        "p-grey-53": #DDDEE1,
        "p-grey-55": #d9d9d933,
        "p-blue":#2F80ED,
        "p-blue-trans": #c0dbf34d,
        "p-blue-trans-2": #0968e566,
        "p-trans-orange": #f995001a,
        "p-blue-2":#def5fc,
        "p-blue-3":#E4EBF7,
        "p-blue-4":#0D2B5B,
        "p-blue-5":#C9DFFF,
        "p-blue-6":#05306E,
        "p-blue-7":#E9F2FF,
        "p-blue-8":#2541B2,
        "p-blue-9":#DDE4FF,
        "p-blue-10":#F6F8FF,
        "p-blue-11":#F4F6FF,
        "p-blue-12": #F6F6F6,
        "p-blue-13":#E8EFFF,
        "p-blue-14": #F9FAFF,
        "p-blue-15": #EAEEFF,
        "p-blue-16": #23215B,
        "p-blue-17": #F1F1F1,
        "p-blue-18": #E7F1FF,
        "p-blue-19": #2541B233,
        "p-blue-20": #0d2b5b45,
        'p-blue-21': #0968E5,
        "p-blue-22": #F5F7F9,
        "p-blue-23": #1E8CB8,
        "p-green":#219653,
        "p-green-trans": #17e93314,
        "p-green-2":#6FCF97,
        "p-green-3":#DFFFE6,
        "p-green-4":#DDFFD4,
        "p-green-5":#2FB40E,
        "p-green-6":#31B057,
        "p-green-7":#F6FBFF,
        "p-green-8": #E1F3E7,
        "p-green-9": #27D375,
        "p-green-10": #C1FFDD,
        "p-green-11":#57BB8A,
        "p-green-12": #9ACE6A,
        "p-green-13": #D3FFE1,
        "p-green-14": #DFFFE9,
        "p-green-15": #086B33,
        "p-green-16": #F4FAFF,
        "p-green-17":#27AE60,
        "p-green-18": #2DE577,
        "p-green-19": #17E933,
        "p-purple":#f0eff3,
        "p-purple-trans": #d144dd21,
        "p-purple-2":#DCD6F7,
        "p-purple-3":#F8F9FF,
        "p-purple-4":#556CC9,
        "p-purple-5":#D144DD,
        "p-purple-6": #694DD9,
        "p-orange":#F2994A,
        "p-orange-trans": #fba5242e,
        "p-orange-2":#FF9A02,
        "p-orange-3":#FBAF17,
        "p-orange-4":#FFFCF4,
        "p-orange-5": #f995001a,
        "p-orange-6": #FF9F02,
        "p-orange-7": #FFF4DE,
        "p-orange-8": #F0B32D,
        "p-orange-9" : #DFC49D,
        "p-orange-10": #473028,
        "p-orange-11": #F0D2A8,
        "p-orange-12": #E7DDCB
);

$radius: ("5":5px, "7":7px, "8":8px, "9":9px, "10":10px, "11":11px, "12":12px, "14":14px, "15":15px, "16": 16px, "20":20px, "40":40px, "100": 100px);

$size: ("4":4px,"6":6px,"8":8px, "9":9px, "10":10px, "11":11px, "12":12px, "13":13px, "14":14px, "16":16px, "18":18px, "20":20px, "21":21px, "22":22px, "24":24px, "28":28px, "30":30px, "36":36px, "40":40px, "48":48px, "50":50px, "52":52px, "54":54px, "65":65px, "100":100px,);

$font-weight: ("300":300, "400":400, "500":500, "600":600, "700":700);

$width: ("auto":auto, "fit-content":fit-content, "100":100%, "85":85%, "75":75%, "50":50%, "35": 35%, "45":45%, "25":25%);

$border-style: ("dashed":dashed, "solid":solid, "dotted":dotted);

$post: ("top":top, "bottom":bottom, "left":left, "right":right);

$icons: (
        "location": "/assets/images/icons/location.svg",
        "call": "/assets/images/icons/call.svg",
);
