@import "../../node_modules/bootstrap/scss/bootstrap";
// @import '~bootstrap/scss/bootstrap';


@import "variables";

@import 'settings/index';
@import 'tools/index';
@import 'components/sidebar';
@import 'components/topbar.scss';
@import 'components/pageContainer.scss';
@import 'components/perfectScroll.scss';
// @import "components/sidebar.scss";
// @import "components/topbar.scss";
// @import "fonts";
// @import 'settings/index';
// @import 'tools/index';
// @import 'components/sidebar';
// @import 'components/pageContainer.scss';
// @import 'components/perfectScroll.scss';


body {
  background: $body-bg;
  min-width: 300px;
  font-family: 'Dalton', sans-serif;
}

main {
  min-height: 100%;

  &.show-sidebar {
    .header {
      width: calc(100% - #{$collapsed-size});
    }

    .page-container {
      padding-left: 95px;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: #c3c3c3;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9d9d9d;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-left: 281px;

  .page-content {
    padding: 105px 40px 30px;

    @include to($breakpoint-lg) {
      padding: 105px 12px 40px;
    }
  }

  @include to($breakpoint-xl) {
    padding-left: 94px;
    // padding: 105px 30px 30px 30px;
  }

  @include to($breakpoint-lg) {
    padding-left: 95px;
    // padding: 105px 30px 30px 30px;
  }

  @include to($breakpoint-md) {
    padding-left: 0px;
    // padding: 85px 15px 30px 15px;
  }
}

// .page-container {
// background: $body-bg;
// padding: 120px 80px 30px 80px;
// min-height: calc(100vh - 61px);

// @include to($breakpoint-lg) {
// padding: 105px 30px 30px 30px;
// }

// @include to($breakpoint-md) {
//     padding: 85px 15px 30px 15px;
// }
// }

.pt-10 {
  padding-top: 10rem !important;
}

.-top-30{
  top: -30px !important;
}

#sidebar {
  &.active {
    width: 283px !important;

    >.sectionCard {
      display: block !important;

      .sidebarLogo {
        .logoXl {
          display: block !important;
        }

        .logoSmall {
          display: none !important;
        }
      }
    }

    .navItem {
      .navLink {
        .titleSidebar {
          display: block !important;
        }

        &::after {
          left: -11%;
        }
      }
    }
  }

}


@each $index,
$rad in $radius {
  .radius-#{$index} {
    border-radius: $rad !important;
  }
}

@each $index,
$rad in $radius {
  .radius-top-#{$index} {
    border-radius: $rad $rad 0px 0px;
  }
}

@each $index,
$rad in $radius {
  .radius-bottom-#{$index} {
    border-radius: 0px 0px $rad $rad;
  }
}

@each $index,
$rad in $radius {
  .radius-left-#{$index} {
    border-radius: $rad 0px 0px $rad !important;
  }
}

@each $index,
$rad in $radius {
  .radius-right-#{$index} {
    border-radius: 0px $rad $rad 0px !important;
  }
}

@each $index,
$rad in $size {
  .font-size-#{$index} {
    @include font-size($rad);
  }

  .g-#{index}px {
    --bs-gutter-y: $rad;
    --bs-gutter-x: $rad;
  }

  .gap-#{index}px {
    gap: $rad;
  }

  .placeholder-size-#{$index}::placeholder {
    font-size: $rad !important;
  }
}

@each $index,
$rad in $font-weight {
  .font-weight-#{$index} {
    font-weight: $rad;
  }
}

@each $index,
$rad in $border-style {
  .border-style-#{$index} {
    border-style: $rad !important;
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {

  @each $index,
  $color in $theme-colors {
    @include media-breakpoint-up($breakpoint) {
      .bg-#{$breakpoint}-#{$index} {
        background-color: $color !important;
      }

      .text-#{$breakpoint}-#{$index} {
        color: $color !important;
      }
    }
  }

  @each $size,
  $length in $width {
    @include media-breakpoint-up($breakpoint) {
      .py-#{$breakpoint}-#{$size} {
        padding: $length 0px $length 0px !important;
      }
    }
  }

  @each $size,
  $length in $width {
    @include media-breakpoint-up($breakpoint) {
      .pw-#{$breakpoint}-#{$size} {
        width: $length !important;
      }
    }
  }

  @each $index,
  $pos in $post {
    @include media-breakpoint-up($breakpoint) {
      .fixed-#{$breakpoint}-top {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
      }

      .fixed-#{$breakpoint}-bottom {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1030;
      }
    }
  }

  @each $size,
  $length in $width {
    @include media-breakpoint-down($breakpoint) {
      .ph-#{$breakpoint}-#{$size} {
        height: $length !important;
      }
    }
  }

  // @each $index,
  // $color in $theme-colors {
  //     @include media-breakpoint-up($breakpoint) {
  //         .bg-md-p-black {
  //             background-color: $color !important;
  //         }

  //         .text-md-p-black {
  //             color: $color !important;
  //         }
  //     }
  // }

  @include media-breakpoint-up($breakpoint) {

    @each $index,
    $rad in $size {
      .font-size-#{$breakpoint}-#{$index} {
        font-size: $rad;
      }
    }

    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix} {
      border: $border-width solid $border-color;
    }

    .border#{$infix}-top {
      border-top: $border-width solid $border-color;
    }

    .border#{$infix}-end {
      border-right: $border-width solid $border-color;
    }

    .border#{$infix}-bottom {
      border-bottom: $border-width solid $border-color;
    }

    .border#{$infix}-start {
      border-left: $border-width solid $border-color;
    }

    .border#{$infix}-top-0 {
      border-top: 0;
    }

    .border#{$infix}-end-0 {
      border-right: 0;
    }

    .border#{$infix}-bottom-0 {
      border-bottom: 0;
    }

    .border#{$infix}-start-0 {
      border-left: 0;
    }

    .border#{$infix}-x {
      border-left: $border-width solid $border-color;
      border-right: $border-width solid $border-color;
    }

    .border#{$infix}-y {
      border-top: $border-width solid $border-color;
      border-bottom: $border-width solid $border-color;
    }
  }
}

@each $index,
$color in $theme-colors {
  .btn-#{$index} {
    @if $index =="light" {
      @include button-variant($color,
        $color,
        $hover-background: shade-color($color, $btn-hover-bg-shade-amount),
        $hover-border: shade-color($color, $btn-hover-border-shade-amount),
        $active-background: shade-color($color, $btn-active-bg-shade-amount),
        $active-border: shade-color($color, $btn-active-border-shade-amount));
    }

    @else if $color =="dark" {
      @include button-variant($color,
        $color,
        $hover-background: tint-color($color, $btn-hover-bg-tint-amount),
        $hover-border: tint-color($color, $btn-hover-border-tint-amount),
        $active-background: tint-color($color, $btn-active-bg-tint-amount),
        $active-border: tint-color($color, $btn-active-border-tint-amount));
    }

    @else {
      @include button-variant($color, $color);
    }
  }

  .btn-outline-#{$index} {
    @include button-outline-variant($color);
  }

  .bg-#{$index} {
    background-color: $color !important;
  }

  .text-#{$index} {
    color: $color !important;
  }

  .placeholder-#{$index}::placeholder {
    color: $color !important;
  }

  .hover-bg-#{$index}:hover,
  .hover-bg-#{$index}:focus {
    background-color: $color !important;
  }

  .hover-text-#{$index}:hover,
  .hover-text-#{$index}:focus {
    color: $color !important;
  }

  .hover-border-#{$index}:hover,
  .hover-border-#{$index}:focus {
    border: 1px solid $color !important;
  }

  .hover-border-bottom-#{$index}:hover,
  .hover-border-bottom-#{$index}:focus {
    border-bottom: 1px solid $color !important;
  }

  .hover-color-#{$index}:hover,
  .hover-color-#{$index}:focus {
    color: $color !important;
  }

  .before-queto-#{index} {
    border-left: 4px solid $color !important;
  }

  .border-left-#{$index} {
    border-left: 1px solid $color !important;
  }

  .border-right-#{$index} {
    border-right: 1px solid $color !important;
  }

  .border-top-#{$index} {
    border-top: 1px solid $color !important;
  }

  .border-bottom-#{$index} {
    border-bottom: 1px solid $color !important;
  }

  .border-top-dashed-#{$index} {
    border-top: 1px dashed $color;
  }

  .border-bottom-dashed-#{$index} {
    border-bottom: 1px dashed $color;
  }

  .border-dashed-#{$index} {
    border: 1px dashed $color;
  }

  .border-start-dashed-#{$index} {
    border-left: 1px dashed $color;
  }

  .border-end-dashed-#{$index} {
    border-right: 1px dashed $color;
  }

  .border-#{$index} {
    border: 1px solid $color !important;
  }

  .border-bottom-#{$index} {
    border-bottom: 1px solid $color;
  }

  .hr-#{$index} {
    border-top: 2px solid $color;
  }

  .hr-dashed-#{$index} {
    border-top: 2px dashed $color;
  }

  .checked-bg-#{$index}:checked {
    background-color: $color !important;
    border: 0px;
  }

}

.before-queto {
  &::before {
    content: '';
    display: block;
    border-left: 4px solid #DDDEE1;
    height: 100%;
  }
}

@include media-breakpoint-down(md) {
  .logo-image {
    height: 50px !important;
    width: 85px !important;
  }
}

.ip {
    display: inline-block;
    mask-size: cover;
    width: 23px;
    height: 23px;
  }

  @each $index,
  $url in $icons {
    .ip-#{$index} {
      mask: url($url);
      mask-repeat: no-repeat;
      mask-size: contain;
      mask-position: center;
    }
  }


.skeleton-box {
  display: inline-block;
  height: 1em;
  position: relative;
  overflow: hidden;
  background-color: #f0f5fa;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg,
        rgba(rgb(255, 255, 255), 0) 0,
        rgba(rgb(255, 255, 255), 0.2) 20%,
        rgba(rgb(255, 255, 255), 0.5) 60%,
        rgba(rgb(255, 255, 255), 0));
    animation: shimmer 2s infinite;
    content: "";
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

.item-product {
  transition: all 0.5s ease;

  &:hover {
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.08);

    .product-image {
      &::after {
        opacity: 0;
      }
    }
  }
}


.hstack {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: stretch;
}

.vstack {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-self: stretch;
}


.background-text {
  &::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(180deg,
        rgba(0, 0, 0, 0.288) 0%,
        rgba(0, 0, 0, 0.4) 100%);
  }
}

.form-control:invalid,
.form-control.is-invalid,
.form-select.is-invalid,
.was-validated .form-select:invalid,
.input-group.is-invalid {
  border: 1px solid #eb5757 !important;
}


.text-truncate {
  &.text-truncate--2 {
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}

#nprogress .bar {
  background: #c28562 !important;
  height: 3px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #c28562, 0 0 5px #c28562 !important;
  opacity: 1;
}

.section-card {
  padding: 0px 25px;
  margin-bottom: 30px;

  .card-preference {
    background: url('/assets/images/bg-card-pref.svg');
    padding: 15px 18px;
    width: 100%;
    height: 143px;
    border-radius: 12px;
  }
}

.btn:focus {
  border: 0 !important;
}

.card-login {
  max-width: 570px;

  .card-login-item {
    padding: 40px;
  }
}

.form-input {
  position: relative;

  .icon-card-input {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffff;
    border-radius: 10px;
    height: 44px;
    width: 49px;
    left: 9px;
    top: 7px;
  }

  .form-control-input {
    min-height: 58px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 71px !important;
    border: none;
    background-color: #F5F7F9;

    &::placeholder {
      color: #919191;
      font-weight: 400;
      font-size: 15px;
    }

    &.is-invalid {
      border: 1px solid #dc3545;
    }
  }

  .icon-right {
    position: absolute;
    top: 18px;
    right: 22px;
    // height: 16px;
    // width: 16px;
  }
}


.form-control.form-user:focus {
  border: none !important;
}

#app {
  height: 100%;
}

.slider-dashboard {
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90% !important;

    img {
      display: block;
      min-width: 100%;
      object-fit: cover;
      min-height: 313px;
      border-radius: 10px;
    }
  }
}


.el-table {
  .table {
    thead {
      th {
        white-space: nowrap;
      }
    }
    tr,th,td {
      border: none !important;
    }
  }
}

.el-table-rubric {
  .table {
    thead {
      th {
        padding: 1rem;
      }
    }
  }
}

.page-content {
  .nav-tabs {
    .nav-link {
      padding-top: 14px;
      padding-bottom: 14px;
    }
  }

  .form-check-input {
    &:checked {
      background-color: #05306E;
      border-color: #05306E;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-right: 400px;
  }
}

.el-table-presence {
  tbody {
    tr {
      td {
        padding-bottom: 1rem;
      }

      &:nth-child(4),
      &:nth-child(5) {
        padding-right: 1rem;
      }
    }
  }
}


.avatar {
  img {
    border-radius: 50%;
    position: relative;
    left: -5px;
    margin-left: -0.7rem;
    z-index: 1;
    border: 2px solid #fff;
  }

  .avatar-content {
    position: relative;
    left: -5px;
    margin-left: -0.7rem;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F4F7;
    color: #606C80;
    font-weight: 600;
    font-size: 14px;
    width: 40px;
    height: 40px;
  }
}

.avatars {
  direction: ltr;
  text-align: left;
  padding-left: 25px;
  display: flex;
  align-content: center;
}


// .progress-bar-toggle {
//     &::before {
//       display: block;
//       width: 10px;
//       height: 10px;
//       position: absolute;
//       background: white;
//       top: 0;
//     }
// }


//.nav-tabs {
//  .nav-item {
//    .show {
//      .nav-link {
//        border-top: #FFFFFF;
//        border-right: #FFFFFF;
//        border-left: #FFFFFF;
//        border-bottom: 3px solid #0D9737;
//      }
//    }
//  }
//  .nav-link {
//    .active {
//      border-top: #FFFFFF;
//      border-right: #FFFFFF;
//      border-left: #FFFFFF;
//      border-bottom: 3px solid #0D9737;
//      background: transparent;
//    }
//  }
//}

.tab-pane {
  height: 3.2rem;

  .nav {
    flex-wrap: nowrap;
  }

  .nav-tabs {
    border-bottom: transparent;

    .nav-item {
      display: flex;
      justify-content: center;
      cursor: pointer;

      .nav-link {
        border-top: #FFFFFF;
        border-right: #FFFFFF;
        border-left: #FFFFFF;
        padding-bottom: 0.5rem;
        white-space: nowrap;

        .font {
          color: #919191;
        }

        &:hover {
          border-top: #FFFFFF;
          border-right: #FFFFFF;
          border-left: #FFFFFF;
          border-bottom: 3px solid #2F80ED;
          background: transparent;
          padding-bottom: 0.5rem;
          width: 30%;
          display: flex;
          justify-content: center;
          align-content: center;
          white-space: nowrap;

          .font {
            color: #2F80ED;
          }
        }
      }
    }

    .nav-link.active {
      border-top: #FFFFFF;
      border-right: #FFFFFF;
      border-left: #FFFFFF;
      border-bottom: 3px solid #2F80ED;
      background: transparent;
      padding-bottom: 0.5rem;
      width: 30%;
      display: flex;
      justify-content: center;
      align-content: center;

      .font {
        color: #2F80ED;
      }
    }
  }
}

.course-desc {
  padding-left: 1rem !important;

  li {
    padding-bottom: 0.7rem;
  }
}

.icon-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #17e93314;
  border-radius: 10px;
  height: 44px;
  width: 49px;
  left: 9px;
  top: 7px;
}

.dotted-line {
  border: 0;
  border-top: 2px dashed #E0E0E0;
  margin: 0;
  padding: 0;
}

.answer-field {
  border: none;
  border-bottom: 1px solid #E0E0E0;
  outline: none;
  border-radius: 0;
}

.answer-field:focus {
  border-bottom: 1px solid #c5c5c5;
  outline: none;
}


.card-calendar {
  .rdrCalendarWrapper {
    width: 100%;
  }

  .rdrMonths {
    .rdrMonth {
      width: 100%;

      .rdrDay {
        .rdrStartEdge {
          background: #0968E5;
        }

        button[style="color:#3d91ff"] {
          .rdrDayNumber {
            color: #0071FF !important;
          }
        }

        .rdrInRange {
          // color: #0071FF !important;
        }

        .rdrEndEdge {
          background: #0968E5;
        }
      }
    }
  }
}

.skeleton-box {
  display: inline-block;
  height: 1em;
  position: relative;
  overflow: hidden;
  background-color: #f0f5fa;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(90deg,
        rgba(rgb(255, 255, 255), 0) 0,
        rgba(rgb(255, 255, 255), 0.2) 20%,
        rgba(rgb(255, 255, 255), 0.5) 60%,
        rgba(rgb(255, 255, 255), 0));
    animation: shimmer 2s infinite;
    content: "";
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

.hero {
    margin-top: 60px !important;
    @media screen and (min-width: $breakpoint-lg) {
        margin-top: 4rem !important;
    }
   .image-hero {
        margin-top: 40px !important;
        @media screen and (min-width: $breakpoint-lg) {
            margin-top: 0px !important;
        }

        .img-elevenia {
            @media screen and (min-width: $breakpoint-lg) {
                height: 64px;
            }

            @media screen and (max-width: $breakpoint-lg) {
                height: 50px;
            }

            @media screen and (max-width: $breakpoint-md) {
                height: 40px;
            }

            @media screen and (max-width: $breakpoint-sm) {
                height: 32px;
            }
            @media screen and (max-width: 575px) {
                height: 18px;
            }
        }

        .img-nusantara {
            @media screen and (min-width: $breakpoint-lg) {
                height: 32px;
            }

            @media screen and (max-width: $breakpoint-lg) {
                height: 28px;
            }

            @media screen and (max-width: $breakpoint-md) {
                height: 24px;
            }

            @media screen and (max-width: $breakpoint-sm) {
                height: 18px;
            }
            @media screen and (max-width: 575px) {
                height: 10px;
            }
        }
   }
}

table {
    &.navbar-contact {
        border-collapse: collapse;
        tr {
            td {
                padding: 0px 0px 10px 7px;
            }
        }
    }
}

.object-cover-center {
    object-fit: cover;
    object-position: center;
}

.news-section {
    position: relative;
    &::after {
        content: "";
        display: block;
        background: url("../../public/assets/images/waves-news.svg") no-repeat;
        background-size: cover;
        background-position: center;
        height: 320px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
}

.team-section {
  text-align: center;
}

.team-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.team-member img {
  width: 200px;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

.member-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 200px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.member-details h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.member-details p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #555;
}


.border-3 {
    border-width: 3px !important;
}

footer {
    background: linear-gradient(180deg, #FFFFFF 0%, #DFC49D 100%);
    display: inline-block;
    width: 100%;
}

@media (min-width: 992px) {
  .px-lg-8 {
    padding-left: 8rem !important;
    padding-right: 8rem !important;
  }
  .pb-lg-20 {
    padding-bottom: 20rem !important;
  }
}

// create @media for md to sm
@media (max-width: 991px) {
  .min-w-lg-80{
    min-width: 80% !important;
  }
}

.accordion-career {
    &.not-collapsed {
        .toggle-accordion {
            img {
                rotate: 90deg;
                transition: rotate 0.3s ease-in-out;
            }
        }
    }

    .toggle-accordion {
        img {
            transition: rotate 0.3s ease-in-out;
        }
    }
}

.teams-card {
  &:hover{
    .card-hovered {
      display: block;
    }
  }
}
