// ---------------------------------------------------------
// @TOC

// + @Topbar
// + @Collapsed State

// ---------------------------------------------------------
// @Topbar
// ---------------------------------------------------------

$header-height-mobile : 54px;
.header {
    background:linear-gradient(180deg, #FFFFFF 0%, #DFC49D 100%);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    .top-navbar {
        padding: 0 40px;
        display: flex;
        align-items: center;
        // justify-content: center;
        .item-topbar {
            height: 50px;
            line-height: 50px;
            height: 100%;
        }

        @media screen and (max-width: 991px) {
            padding: 0 30px;
        }
    }
    .navbar-top {
        background: #ffffff !important;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        ul {
            gap: 60px;
            li {
                a {
                    padding: 0 10px;
                    line-height: 50px;
                    height: 50px;
                    color: #000000;
                    font-size: 17px;
                    font-weight: 600;
                    white-space: nowrap;
                    &:hover {
                        color: #5533FF;
                    }
                    @media screen and (max-width: $breakpoint-md) {
                        height: 35px !important;
                        line-height: 35px !important;
                        font-size: 16px !important;
                    }

                    @media screen and (max-width: $breakpoint-sm) {
                        height: 20px !important;
                        line-height: 20px !important;
                        font-size: 14px !important;
                    }
                }
            }
            @media screen and (max-width: 991px) {
                gap: 30px;
            }

            @media screen and (max-width: $breakpoint-sm) {
                gap: 20px !important;
                padding: 20px 0 0 0 !important;

            }
        }
    }
}
